<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Laura Beth Long</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		@font-face{font-family:'sofia_prolight';src:url("SofiaProLight-webfont.eot");src:url("https://dl.dropboxusercontent.com/s/oqbarlonsc3uloj/sofiaprolight-webfont.eot?#iefix") format("embedded-opentype"),url("https://dl.dropboxusercontent.com/s/cybi06ljw32q57n/sofiaprolight-webfont.woff2") format("woff2"),url("https://dl.dropboxusercontent.com/s/xqsvvvnpwdzxrr9/sofiaprolight-webfont.woff") format("woff"),url("https://dl.dropboxusercontent.com/s/1hgypmvg4l48tfh/sofiaprolight-webfont.ttf") format("truetype"),url("https://dl.dropboxusercontent.com/s/dqkdz28sbs8c2fk/sofiaprolight-webfont.svg#sofia_prolight") format("svg");font-weight:normal;font-style:normal}

		/*
		 * Web Fonts from fontspring.com
		 * All OpenType features and all extended glyphs have been removed.
		 * Fully installable fonts can be purchased at http://www.fontspring.com
		 * The fonts included in this stylesheet are subject to the End User License you purchased from Fontspring. The fonts are protected under domestic and international trademark and copyright law. You are prohibited from modifying, reverse engineering, duplicating, or distributing this font software.
		 * (c) 2010-2015 Fontspring
		 * The fonts included are copyrighted by the vendor listed below.
		 * Vendor: Mostardesign
		 * License URL: http://www.fontspring.com/licenses/mostardesign/webfont
		 */
	</style>
	<meta name="author" content="Laura Beth Long">
	<meta name="description" content="I’m passionate about the conservative movement, digital influencing, and the intersection of the two. You can hire me.">
	<link rel="stylesheet" href="css/main.css">
	<link rel="shortcut icon" href="/favicon.ico">
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
