<div class="sidebar" id="sidebar">
	<div class="container sidebar-sticky">
		<h1 class="logo"><a href="/"><span class="laura-beth">Laura Beth</span><span class="long">Long</span></a></h1>
		<nav class="sidebar-nav">
			<a class="sidebar-nav-item" href="/about/">About Me</a>
			<a class="sidebar-nav-item" href="/hire-me/">Hire Me</a>

			<span class="sidebar-nav-item category">Projects</span>
				<a class="sidebar-nav-item" href="/politiconnection/">Politiconnection</a>

			<span class="sidebar-nav-item category">Contact Me</span>
				<a class="sidebar-nav-item" href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#108;&#97;&#117;&#114;&#97;&#98;&#101;&#116;&#104;&#108;&#111;&#110;&#103;&#46;&#99;&#111;&#109;" title="my email address">&#104;&#101;&#108;&#108;&#111;&#64;&#108;&#97;&#117;&#114;&#97;&#98;&#101;&#116;&#104;&#108;&#111;&#110;&#103;&#46;&#99;&#111;&#109;</a>
				<a class="sidebar-nav-item" href="http://www.twitter.com/LongLB" title="my Twitter profile">@LongLB</a>
		</nav>

		<footer>
			<p>Copyright &copy; 2014-2015 Laura Beth Long. All rights reserved. <a href="/colophon/" title="thanks to some generous, talented people">Colophon</a>.</p>
		</footer>
	</div>
</div>
